In [18]:
import os
import os.path as osp
import pandas as pd

In [19]:
path_test1_csv = 'data/test_od.csv'
path_test2_csv = 'data/test_mac.csv'
df_test1 = pd.read_csv(path_test1_csv)
df_test2 = pd.read_csv(path_test2_csv)
df_test = pd.concat([df_test1, df_test2], axis=0)

In [20]:
df_test = pd.concat([df_test1, df_test2], axis=0)
df_test.to_csv('data/test_q.csv', index=False)

In [21]:
df_test1.head()

                      image_id  dr
0  data/test_images/347_l1.jpg   0
1  data/test_images/347_r1.jpg   1
2  data/test_images/353_l1.jpg   2
3  data/test_images/353_r1.jpg   3
4  data/test_images/354_l1.jpg   4

In [22]:
df_quality = pd.read_csv('quality.csv')
df_artifact = pd.read_csv('artifact.csv')
df_clarity = pd.read_csv('clarity.csv')
df_field_def = pd.read_csv('field_def.csv')

In [23]:
df_artifact.head()

                      image_id  Artifact
0  data/test_images/347_l1.jpg         2
1  data/test_images/347_r1.jpg         4
2  data/test_images/353_l1.jpg         4
3  data/test_images/353_r1.jpg         4
4  data/test_images/354_l1.jpg         0

In [24]:
def map_label_art(label):
    if label == 0: return 0
    elif label == 1: return 1
    elif label == 2: return 4
    elif label == 3: return 6
    elif label == 4: return 8
    else: return 10
df_artifact['Artifact'] = df_artifact['Artifact'].apply(map_label_art)

In [27]:
def map_label_clarity(lab):
    if lab == 0: return 1
    elif lab == 1: return 4
    elif lab == 2: return 6
    elif lab == 3: return 8
    else: return 10
df_clarity['Clarity'] = df_clarity['Clarity'].apply(map_label_clarity)

In [28]:
def map_label_fd(label):
    if label == 0: return 1
    elif label == 1: return 4
    elif label == 2: return 6
    elif label == 3: return 8
    else: return 10
df_field_def['Field definition'] = df_field_def['Field definition'].apply(map_label_fd)

In [6]:
from functools import reduce

In [7]:
merged = reduce(lambda x, y: pd.merge(x, y, on = 'image_id'), [df_quality, df_artifact, df_clarity, df_field_def])

In [8]:
merged.head()

,image_id,Overall quality,Artifact,Clarity,Field definition
0,data/test_images/347_l1.jpg,1,2,4,2
1,data/test_images/347_r1.jpg,0,4,2,3
2,data/test_images/353_l1.jpg,0,4,2,3
3,data/test_images/353_r1.jpg,0,4,1,3
4,data/test_images/354_l1.jpg,1,0,4,4

In [9]:
merged['image_id'] = merged['image_id'].apply(lambda x: x.split('/')[-1][:-4])

In [10]:
merged.head()

  image_id  Overall quality  Artifact  Clarity  Field definition
0   347_l1                1         2        4                 2
1   347_r1                0         4        2                 3
2   353_l1                0         4        2                 3
3   353_r1                0         4        1                 3
4   354_l1                1         0        4                 4

In [11]:
merged = merged[['Overall quality', 'Artifact', 'Clarity', 'Field definition', 'image_id']]

In [12]:
merged.head()

   Overall quality  Artifact  Clarity  Field definition image_id
0                1         2        4                 2   347_l1
1                0         4        2                 3   347_r1
2                0         4        2                 3   353_l1
3                0         4        1                 3   353_r1
4                1         0        4                 4   354_l1