In [1]:
import os
import os.path as osp
import pandas as pd

In [2]:
pd.options.mode.chained_assignment = None

In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [4]:
path_raw_data = '/home/agaldran/Desktop/data/deepdr_data/'

In [5]:
csv_path = osp.join(path_raw_data, 'regular-fundus-training/regular-fundus-training.csv')

csv_path = osp.join(path_raw_data, 'regular-fundus-validation/regular-fundus-validation.csv')


df = pd.read_csv(csv_path)
df.columns

Index(['patient_id', 'image_id', 'image_path', 'Overall quality',
       'left_eye_DR_Level', 'right_eye_DR_Level', 'patient_DR_Level',
       'Clarity', 'Field definition', 'Artifact'],
      dtype='object')

In [6]:
df.head()

,patient_id,image_id,image_path,Overall quality,left_eye_DR_Level,right_eye_DR_Level,patient_DR_Level,Clarity,Field definition,Artifact
0,265,265_l1,\regular-fundus-validation\265\265_l1.jpg,0,3.0,NaN,4,4,8,10
1,265,265_l2,\regular-fundus-validation\265\265_l2.jpg,0,3.0,NaN,4,6,8,6
2,265,265_r1,\regular-fundus-validation\265\265_r1.jpg,1,NaN,4.0,4,6,8,6
3,265,265_r2,\regular-fundus-validation\265\265_r2.jpg,1,NaN,4.0,4,10,4,0
4,267,267_l1,\regular-fundus-validation\267\267_l1.jpg,1,4.0,NaN,4,10,6,4

In [7]:
df.columns

Index(['patient_id', 'image_id', 'image_path', 'Overall quality',
       'left_eye_DR_Level', 'right_eye_DR_Level', 'patient_DR_Level',
       'Clarity', 'Field definition', 'Artifact'],
      dtype='object')

In [8]:
df = df.drop(['patient_id','left_eye_DR_Level','right_eye_DR_Level', 'patient_DR_Level'], axis=1)

In [9]:
df.head()

,image_id,image_path,Overall quality,Clarity,Field definition,Artifact
0,265_l1,\regular-fundus-validation\265\265_l1.jpg,0,4,8,10
1,265_l2,\regular-fundus-validation\265\265_l2.jpg,0,6,8,6
2,265_r1,\regular-fundus-validation\265\265_r1.jpg,1,6,8,6
3,265_r2,\regular-fundus-validation\265\265_r2.jpg,1,10,4,0
4,267_l1,\regular-fundus-validation\267\267_l1.jpg,1,10,6,4

In [10]:
abs_path = [osp.join(path_raw_data, n.replace('\\','/')[1:]) for n in list(df.image_path) ]

In [11]:
df['abs_path']=abs_path
df = df.drop(['image_path'], axis=1)

In [12]:
im_list = df.abs_path

In [13]:
path_out = 'data/images'

In [14]:
image_ids = [osp.join(path_out, im_name.split('/')[-1]) for im_name in im_list]

In [15]:
df['image_id']=image_ids
df = df.drop(['abs_path'], axis=1)

In [16]:
df.head()

,image_id,Overall quality,Clarity,Field definition,Artifact
0,data/images/265_l1.jpg,0,4,8,10
1,data/images/265_l2.jpg,0,6,8,6
2,data/images/265_r1.jpg,1,6,8,6
3,data/images/265_r2.jpg,1,10,4,0
4,data/images/267_l1.jpg,1,10,6,4

In [17]:
list(df.columns)[1:]

['Overall quality', 'Clarity', 'Field definition', 'Artifact']

In [18]:
import numpy as np

In [19]:
df_qual = df[['image_id', 'Overall quality']]
df_qual.columns = ['image_id', 'dr']
a,b = np.unique(df_qual['dr'].values, return_counts=True)
for i in range(len(a)):
    print(a[i], ' ---> ', b[i])
# df_qual.to_csv('data/train_quality.csv', index=False)

0  --->  218
1  --->  182

In [20]:
def map_label_clarity(label):
    if label == 1: return 0
    elif label==4: return 1
    elif label==6: return 2
    elif label==8: return 3
    else: return 4

In [21]:
df_clarity = df[['image_id', 'Clarity']]

a,b = np.unique(df_clarity['Clarity'].values, return_counts=True)
for i in range(len(a)):
    print(a[i], ' ---> ', b[i])
print('------')    
df_clarity['dr'] = df_clarity['Clarity'].apply(map_label_clarity)
a,b = np.unique(df_clarity['dr'].values, return_counts=True)
for i in range(len(a)):
    print(a[i], ' ---> ', b[i])
df_clarity = df_clarity.drop(['Clarity'], axis=1)
# df_clarity.to_csv('data/train_clarity.csv', index=False)

1  --->  6
4  --->  35
6  --->  83
8  --->  128
10  --->  148
------
0  --->  6
1  --->  35
2  --->  83
3  --->  128
4  --->  148

In [27]:
x = np.array([[1,2], [2,0], [3,2]], dtype=float)

In [32]:
x

array([[1., 2.],
       [2., 0.],
       [3., 2.]])

In [29]:
x.shape

(3, 2)

In [33]:
np.argmax(x, axis=1)

array([1, 0, 0])

In [22]:
def map_label_fd(label):
    if label == 1: return 0
    elif label==4: return 1
    elif label==6: return 2
    elif label==8: return 3
    else: return 4

In [23]:
df_field_def = df[['image_id', 'Field definition']]

a,b = np.unique(df_field_def['Field definition'].values, return_counts=True)
for i in range(len(a)):
    print(a[i], ' ---> ', b[i])
print('------')    
df_field_def['dr'] = df_field_def['Field definition'].apply(map_label_fd)
a,b = np.unique(df_field_def['dr'].values, return_counts=True)
for i in range(len(a)):
    print(a[i], ' ---> ', b[i])
df_field_def = df_field_def.drop(['Field definition'], axis=1)
# df_field_def.to_csv('data/train_field_def.csv', index=False)

4  --->  14
6  --->  73
8  --->  253
10  --->  60
------
1  --->  14
2  --->  73
3  --->  253
4  --->  60

In [24]:
ss = [1,1,1,1,1]
np.max(np.unique(ss))==1

True

In [25]:
def map_label_art(label):
    if label==0: return 0
    elif label==1: return 1
    elif label==4: return 2
    elif label==6: return 3
    elif label==8: return 4
    else: return 5

In [26]:
df_artifact = df[['image_id', 'Artifact']]

a,b = np.unique(df_artifact['Artifact'].values, return_counts=True)
for i in range(len(a)):
    print(a[i], ' ---> ', b[i])
print('------')    
df_artifact['dr'] = df_artifact['Artifact'].apply(map_label_art)
a,b = np.unique(df_artifact['dr'].values, return_counts=True)
for i in range(len(a)):
    print(a[i], ' ---> ', b[i])
df_artifact = df_artifact.drop(['Artifact'], axis=1)
# df_artifact.to_csv('data/train_artifact.csv', index=False)

0  --->  191
1  --->  18
4  --->  82
6  --->  60
8  --->  39
10  --->  10
------
0  --->  191
1  --->  18
2  --->  82
3  --->  60
4  --->  39
5  --->  10