In [1]:
import pandas as pd

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [3]:
!ls

all_qualities_results_debug.csv  results
analyze_csvs_20MAR.ipynb	 results_MAC_UW.csv
artifact.csv			 results_MT_Qualities.csv
artifact_results_debug.csv	 results_OD_MAC20_MAR.csv
clarity.csv			 results_OD_UW.csv
clarity_results_debug.csv	 results_quality_ch2.csv
data				 results_quality.csv
debug_results.ipynb		 results_UW20_MAR_2.csv
decision_trees.ipynb		 results_UW20_MAR.csv
experiments			 test_11MAR.py
field_def.csv			 test_16MAR.py
field_def_results_debug.csv	 test_20MAR.py
guild.yml			 test.py
manuscript			 test_quality_16MAR.py
models				 test_quality_20MAR.py
multi_task_loader.ipynb		 test_quality_25MAR.py
my_solution_one.csv		 test_UW_11MAR.py
prepare_data.py			 test_UW_16MAR.py
prepare_test_data.py		 test_UW_20MAR.py
prepare_test_data_UW.py		 train_multi_task.py
prepare_UW_data.py		 train.py
__pycache__			 Untitled.ipynb
quality.csv			 utils
quality_results_debug.csv

In [6]:
df_q = pd.read_csv('all_qualities_results_debug.csv')

In [24]:
df_q.head()

   Overall quality  Artifact  Clarity  Field definition image_id
0                1         4       10                 6   347_l1
1                0         8        6                 8   347_r1
2                0         6        6                 8   353_l1
3                0         8        4                 8   353_r1
4                1         0       10                 6   354_l1

In [25]:
df_good = pd.read_csv('results/Challenge2_upload.csv')
df_good.head()

   Overall quality  Artifact  Clarity  Field definition image_id
0              NaN       NaN      NaN               NaN   347_l1
1              NaN       NaN      NaN               NaN   347_l2
2              NaN       NaN      NaN               NaN   347_r1
3              NaN       NaN      NaN               NaN   347_r2
4              NaN       NaN      NaN               NaN   353_l1

In [26]:
df_q_good = pd.read_csv('all_qualities_results_good.csv')
df_q_good.head()

   Overall quality  Artifact  Clarity  Field definition image_id
0                1         4       10                 6   347_l1
1                1         0       10                 8   347_l2
2                0         8        6                 8   347_r1
3                0         8        4                 8   347_r2
4                0         6        6                 8   353_l1

In [11]:
df_q.shape

(400, 5)

In [12]:
df_good.shape

(400, 5)

In [13]:
submission = pd.merge(df_good, df_q, on="image_id")

In [14]:
submission.shape

(400, 9)

In [17]:
submission.columns

Index(['Overall quality_x', 'Artifact_x', 'Clarity_x', 'Field definition_x',
       'image_id', 'Overall quality_y', 'Artifact_y', 'Clarity_y',
       'Field definition_y'],
      dtype='object')

In [18]:
submission = submission.drop(['Overall quality_x', 'Artifact_x', 'Clarity_x', 'Field definition_x'], axis=1)

In [21]:
submission.columns = ['image_id', 'Overall quality', 'Artifact', 'Clarity', 'Field definition']

In [22]:
submission.head()

  image_id  Overall quality  Artifact  Clarity  Field definition
0   347_l1                1         4       10                 6
1   347_l2                1         0       10                 8
2   347_r1                0         8        6                 8
3   347_r2                0         8        4                 8
4   353_l1                0         6        6                 8